.task {
  display: inline-flex;
  width: 100%;

  &-text {
    text-align: left;
    width: 100%;

    &.strikethrough label {
      text-decoration: line-through;
    }
  }

  &-buttons {
    display: inline-flex;
    gap: 1rem;
    align-items: flex-end;
  }
}